:root {
  font-family: "Nunito", sans-serif;
  --main-color: #ed6436;
  --dark-color: #181818;
  --light-color: #fff;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font: "Nunito", "Nunito Extrabold";
}

body,
h1,
h2 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

.padding {
  padding: 1rem;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.intro {
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.introduction__heading {
  font-size: 1rem;
  color: var(--main-color);
  text-transform: uppercase;
}

.introduction__h2 {
  font-size: 2rem;
}

.button {
  width: 7em;
  height: 3.5em;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  padding: 10px;
  border-radius: 25px;
  border-top-left-radius: 2px;
  color: var(--light-color);
  text-transform: uppercase;
}
